*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body{
display: flex;
justify-content: center;
align-items:center;
margin-top: 150px;


}

.calcBody{
width: 600px;
height: 600px;
display: flex;
background-color: black;



}